<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>gamestore.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>gamestore.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>gamestore.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>gamestore.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>gamestore.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGameServlet</servlet-name>
        <servlet-class>gamestore.servlets.GetGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>gamestore.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>gamestore.servlets.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServelet</servlet-name>
        <servlet-class>gamestore.servlets.UpdateQuantityServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>gamestore.servlets.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>gamestore.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGameList</servlet-name>
        <servlet-class>gamestore.servlets.ViewGameList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGameServlet</servlet-name>
        <servlet-class>gamestore.servlets.AddGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGameServlet</servlet-name>
        <servlet-class>gamestore.servlets.DeleteGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>gamestore.servlets.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderServlet</servlet-name>
        <servlet-class>gamestore.servlets.CheckOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGameServlet</servlet-name>
        <url-pattern>/GetGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/UserUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/AddCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServelet</servlet-name>
        <url-pattern>/UpdateQuantityServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGameList</servlet-name>
        <url-pattern>/ViewGameList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGameServlet</servlet-name>
        <url-pattern>/AddGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGameServlet</servlet-name>
        <url-pattern>/DeleteGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderServlet</servlet-name>
        <url-pattern>/CheckOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
